
<div class="breadcrumbs">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 col-12">
    <div class="breadcrumbs-content">
    <h1 class="page-title">A propos</h1>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
    <ul class="breadcrumb-nav">
    <li><a routerLink="/produit"><i class="lni lni-home"></i> Home</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>

<section class="about-us section">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-12 col-12">
    <div class="content-left">
    <img src="assets/images/banner/01.jpg">
    <a class="glightbox video" href="https://youtu.be/41V8ert0shc&amp;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM" ><i class="lni lni-play"></i></a>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="content-right">
    <h2>Vente Audiovisuel-Votre partenaire de confiance  &amp; fiable.</h2>
    <p>Spécialiste en matériel vidéo photo ciné & drones ,camera de surveillance
    </p>
    <p>Depuis 2022 nous avons lancé beaucoup 
        de produits innovants en exclusivité
         et démocratisé différents matériels professionnels 
         sur le marché .</p>
         <p>Nous expédions dans toute le tunis , 
            à partir de notre siège idéalement situé à tunis, 
            Venez nous rendre visite !</p>
            <p>Notez que ce site est réalisé en interne avec passion
                 par le créateur de chouaibi !</p>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="team section">
        <div class="container">
        <div class="row">
        <div class="col-12">
        <div class="section-title">
        <h2 class="wow fadeInUp" data-wow-delay=".4s">Notre équipe de base</h2>
        <p class="wow fadeInUp" data-wow-delay=".6s"></p>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
        
        <div class="single-team">
        <div class="image">
        <img src="assets/images/faces/chou.jpg" alt="#">
        </div>
        <div class="content">
        <div class="info">
        <h3>Chouaibi Mohamed Aymen</h3>
        <h5>Etudiant, 5eme GI</h5>
        <ul class="social">
        <li><a href="https://www.facebook.com/chouaibi.aymen96/"><i class="lni lni-facebook-filled"></i></a>
        </li>
        <li><a href="https://twitter.com/chouaibiaymen1"><i class="lni lni-twitter-original"></i></a>
        </li>
        </ul>
        </div>
        </div>
        </div>
        
        </div>
       
       
        
        </div>
        </div>
        </section>