<app-detailfournisseur></app-detailfournisseur>


<div class="row" *ngIf="aff">
  <div class="col-md-4 stretch-card grid-margin" >
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="../assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
        <h4 class="font-weight-normal mb-3"> Les gains cette semaine <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{this.totalPrice}}</h2>
      </div>
      
    </div>
   
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
        <h4 class="font-weight-normal mb-3">Quantite produit a vendue <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{this.quantprodvent}}</h2>
      </div>
    </div>
  </div>
  </div>


    <div id="container" *ngIf="aff"></div>



<div class="form-group">
    <input  type="date" class="form-control form-control-lg" id="exampleInputEmail1" (change)="Datecmd($event)">
  </div>