<div class="page-header">
    <h3 class="page-title"> Produit a Livré</h3>
  </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card" style="box-shadow: 0 5px 10px rgba(0,0,0,.2);">
      <div class="card-body">
        <div class="form-group">
            <input
          type="text"
          class="form-control"
          placeholder="Rechercher..."
          [(ngModel)]="term"
        />
        </div>
        <h4 class="card-title" style="text-align: center;">Mes ventes</h4>
        <div class="table-responsive">
          <table class="table" style="text-align: center; ">
            <thead>
              <tr>
                <th> date  </th>
                <th> libelle </th>
                <th> prix produit</th>
                <th> quantite_commande </th>
                <th>prix total produit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let livraison of livraisons | paginate: { itemsPerPage: 10, currentPage: p}| cherchedat: term" >
                <td> {{livraison.commande.date| date }} </td>
                <td>{{livraison.article.libelle}}</td>
                <td>{{livraison.article.prix}}</td>
                <td>{{livraison.quantite_commande}}</td>
                <td>{{livraison.article.prix*livraison.quantite_commande}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
          previousLabel="Precedent"
                            nextLabel="Suivant"
                             (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
      </div>
    </div>