
    <app-detailfournisseur></app-detailfournisseur>
    <div class="row product-item-wrapper" >
     
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
          <div class="card"style="width: 400px;left: 300px;top: -90px;">
            <div class="card-body" >
              <div class="action-holder">
                <div style="width: 60px;height:60px ;" class="sale-badge badge-gradient-danger">fournisseur</div>
                <span class="favorite-button"><i class="mdi mdi-heart-outline"></i></span>
              </div>
              <div class="product-img-outer">
                <img class="product_image" src="{{srcImageFournisseur}}" alt="prduct image">
              </div>
              
              <div>
               <ul>
                <h5 class="product-title">Nom:{{fournisseur.nom}}</h5>
                <h5 class="product-title">Prenom: {{fournisseur.prenom}}</h5>
                <h5 class="product-title">tel:{{fournisseur.numtel}} </h5>
                <h5 class="product-title">mail:{{fournisseur.mail}} </h5>
            </ul>
            </div>
          </div>
        </div>
       
       
      
      </div>
      
    