

<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12" style="top: -80px;">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex pb-4 mb-4 border-bottom">
            </div>
            <div class="nav-scroller">
              <ul class="nav nav-tabs tickets-tab-switch" role="tablist">
                <li class="nav-item">
                  <a class="nav-link rounded active" id="open-tab" data-toggle="tab" role="tab" aria-controls="open-tickets"  routerLink="/fourcord/{{fournisseur.id}}" aria-selected="true">Details Fournisseur <div class="badge"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link rounded" id="pending-tab" data-toggle="tab" routerLink="/fourdetail/{{fournisseur.id}}" role="tab" aria-controls="pending-tickets" aria-selected="false">Top produit a vendu <div class="badge"> </div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link rounded" id="onhold-tab" data-toggle="tab" routerLink="/statbyfour/{{fournisseur.id}}" role="tab" aria-controls="onhold-tickets" aria-selected="false">Statistique Fournisseur <div class="badge"></div>
                  </a>
                </li>
              </ul>
            </div>
           
           
          </div>
        </div>
      </div>
    </div>
  </div>




















































